* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    
}

:root{
    --green: #698f3f;
    --dgreen: #14453D;
}


h1{
    font-family: "DM Serif Text", serif;
    font-weight: 550;
    color: #b76d68;
    font-size: 11.2rem;
}
p{
    font-family: "DM Sans", sans-serif;
    font-weight: 200;
    color: #3f0d12;
    font-size: 4rem;
}

a{
    font-family: "Alumni Sans Pinstripe", sans-serif;
    color: #eaefd3;
    text-decoration: None;

}


.row{
    max-width: 1400px;
    max-height: 1300px;
    margin: 0 auto;
}


header{
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("images/2.jpg");
    background-size: cover;
    background-position: center;
}

header .row{
    width: 100%;

}

nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
    font-size: 2rem;
    height: 9rem
}

nav a{
    font-family: "Alumni Sans Pinstripe", sans-serif;
    font-size: 3rem;
    font-weight: 400;
}

.header-text-container{
    display: flex;
    align-items: center;
    height: calc(100% - 9rem);
}

.aBtn{
    display: inline-block;
    padding: 0.5rem 3rem;
    border: 1px solid var(--green);
    background-color: var(--green);
}
.pBtn{
    display: inline-block;
    padding: 0.5rem 3rem;
    border: 1px solid var(--green);
    background-color: var(--green);
}
.iBtn{
    display: inline-block;
    padding: 0.5rem 3rem;
    border: 1px solid var(--green);
    background-color: var(--green);
}
.cBtn{
    display: inline-block;
    padding: 0.5rem 3rem;
    border: 1px solid var(--green);
    background-color: var(--green);
}